<form>
    <h2>{{ constantsService.PLAYER_TITLE }}</h2>
    <div class="row" [ngClass]="states">
        <label for="name">{{ constantsService.PLAYER_NAME_LABEL }}</label>
        <input type="text" name="name">
    </div>
    <div class="row">
        <label for="aces">{{ constantsService.ACES_HIGH_LABEL }}</label>
        <input type="checkbox" name="name">
        <span class="checkbox" [class.checked]="acesHigh" (click)="toggleAces()"></span>
    </div>
    <button [disabled]="disableButton" (click)="startGame($event)">{{ constantsService.START_LABEL }}</button>
</form>
