<div class="hand">
    <div class="player-Info">
        <h3>Your hand: </h3>
        <p>score: <b>{{ player.score }}</b></p>
    </div>
    <ul>
        <li *ngFor="let card of player.hand" 
            class="card {{ card.color }} {{ card.suit }} {{ card.name || 'value-' + card.value}}">
            <span>{{ card.name || card.value}} of {{ card.suit }}</span>
        </li>
    </ul>
</div>
<app-controls>
    <h1 class="above">Content Projection above</h1>
    <h1 class="below">Content Projection below</h1>
</app-controls>


